body {
  font-family: "Xanh Mono", monospace;
  background-color: rgb(10, 82, 42);
  text-align: center;
  font-size: x-large;
  color: lemonchiffon;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.Tip {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-content: center;
  align-items: center;
}

.pastTips {
  list-style-type: none;
  justify-content: left;
  align-items: left;
}

.button {
  border-radius: 2em;
  font-family: "Xanh Mono", monospace;
  color: rgb(10, 82, 42);
  background-color: lemonchiffon;
  border: 0.16em solid rgba(255, 255, 255, 0);
  font-size: 20px;
}

.firstInput {
  border: none;
  border-radius: 0.5em;
  color: rgb(10, 82, 42);
  background-color: lemonchiffon;
  font-size: 20px;
  text-align: center;
}
.secondInput {
  border: none;
  border-radius: 0.5em;
  color: rgb(10, 82, 42);
  background-color: lemonchiffon;
  font-size: 20px;
  text-align: center;
}
