body {
  margin: 0px;
  font-family: "Amatic SC", cursive;
  font-size: xx-large;
}

input:hover,
button:hover {
  background-color: #a49393;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right top, #67595e, #eed6d3, #e8b4b8);
}

.todo {
  list-style-type: none;
  padding-right: 40px;
  font-size: 2.5rem;
  margin-top: 0px;
}

.submit {
  font-family: "Amatic SC", cursive;
  padding: 5px;
  font-size: 1.6rem;
  border-radius: 10px 100px / 120px;
  border-width: 3px;
  margin-top: 30px;
}

.task {
  font-family: "Amatic SC", cursive;
  font-size: 2rem;
  text-align: center;
  border-radius: 0.5em;
  margin-top: 20px;
}
.task:focus,
button:focus {
  outline: none;
}

.label {
  font-size: 2.5rem;
}

h2 {
  margin-bottom: 20px;
}
