<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List Home</title>
</head>
<body>
    <h1>Welcome to Todo List Home Page!</h1>
    <p>Type a todo you need completed:</p>
    <input class="user_input" type="text">
    <button onclick="sendDatabToDB()">Submit</button>
    <a href="../read_todos">View Todo List</a>
</body>
<script>
        const sendDatabToDB = async ()=> {
        const userInput = document.querySelector(".user_input").value
        const sendTheData = await fetch("http://localhost:3002/todo", 
        {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body:  JSON.stringify({description:userInput})
        })
        

    }
</script>
</html>