.template {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 0.2fr 1fr 0.2fr;
  grid-template-areas:
    "header header header header"
    "sidebar content content content"
    "footer footer footer footer";
  text-align: center;
}

header {
  grid-area: header;
  background-color: lightcoral;
}

#sidebar {
  grid-area: sidebar;
  background-color: mediumslateblue;
}

#content-div-1 {
  grid-area: content;
  background-color: plum;
}

footer {
  grid-area: footer;
  background-color: sandybrown;
}
